# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/
env/

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Dataset
# ==============================

dataset/

# ==============================
# TensorFlow / Keras temporary files
# ==============================

*.h5
*.keras

# ==============================
# Python tools
# ==============================

.pytest_cache/
.mypy_cache/

# ==============================
# OS / Editor
# ==============================

.vscode/
.idea/
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log
archive/
archive.zip